@import 'variables.scss';

.FeedSelector {
    background-color: $background;
    position: absolute;
    width: 100%;

    .selectors {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;

        p, div {
            text-align: center;
        }

        #subRedditInput {
            display: inline-flex;
            padding: 3px;
            width: calc(100% - 3em);
            background: transparent;
            border: 1px solid $color-darker;
            border-radius: $border-radius-small;
            color: $color-text;

            &:focus {
                outline: none;
            }
        }

        div.open,
        div:hover {
            background-color: $color-darker;

            #subRedditInput {
                border: 1px solid $color-dark;
            }
        }
    }

    .list {
        ul {
            margin: 2px 5px;
            padding: 1px 5px;
            border-top: 2px solid $color-darker;
            border-bottom: 2px solid $color-darker;
            border-radius: $border-radius-small;

            li {
                cursor: pointer;
                padding: 3px 10px;
                list-style-type: none;
                
                span {
                    padding: 3px 10px;
                    border-radius: $border-radius-small;
                }
            }
        }
        
        li:hover span {
            font-weight: 600;
            background-color: $color-darkest;
        }
        
        li span.selected {
            font-weight: 600;
            background-color: $color-darker;
        }
        
        &.subs {
            text-align: left;
        }
        &.sort {
            text-align: center;
        }
        &.time {
            text-align: right;
        }
    }

    button {
        background: none;
        padding: 2px 5px;
        margin: 0 5px;
        // border: 1px solid $color-dark;
        border: none;
        border-radius: $border-radius;
        color: $color-text;
        cursor: pointer;

        &:hover {
            background: $color-dark;
        }

        &:focus {
            outline: none;
        }
    }
}
