@import 'variables.scss';

.FeedSelector {
    background-color: $background;
    position: absolute;
    width: 100%;

    .selectors {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;

        p {
            text-align: center;
        }

        div.open,
        div:hover {
            background-color: $color-darker;
        }
    }

    .list {
        ul {
            margin: 0;
            border-top: 2px solid $color-darker;
            border-bottom: 2px solid $color-darker;
            padding: 10px 1em;
            padding: 3px 10px;
            border-radius: 7px;

            li {
                cursor: pointer;
                padding: 3px 10px;
                list-style-type: none;
                
                span {
                    padding: 3px 10px;
                    border-radius: 7px;
                }
            }
        }
        
        li span.selected,
        li:hover span {
            font-weight: 600;
            background-color: $color-darker;
        }
    }
}
