.User {
    $icon-size: 18px;

    padding: 5px 3px 3px 3px;
    display: flex;
    text-align: right;
    width: 100%;

    >.Loading {
        margin: 0;
        padding: 0;
    }

    .login, .logout {
        width: 6em;
    }

    .user {
        display: flex;
        flex-grow: 2;
        padding: 0 3px;
        .userKarma {
            text-align: right;
            flex-grow: 2;
        }
        .userName {
            padding: 0 0.5em;
            &::before {
                content: '-';
                padding-right: 0.5em;
            }
        }
        .userIcon {
            height: $icon-size;
            width: $icon-size;
            border-radius: 25%;
        }
    }
}
