.lds-dual-ring {
	display: inline-block;
	width: 46px;
	height: 46px;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 46px;
	height: 46px;
	margin: 1px;
	border-radius: 50%;
	border: 5px solid $color-darker;
	border-color: $color-darker transparent $color-darker transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.LoadingAnimation {
	$tiny: 20px;
	$tiny-width: 3px;
	$tiny-duration: 0.8s;

	$small: 24px;
	$small-duration: 0.8s;

	$large: 60px;
	$large-duration: 1s;

	$huge: 120px;
	$huge-duration: 1.3s;

	margin: 5px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	justify-content: center;
	align-items: center;

	&.tiny {
		.lds-dual-ring {
			width: $tiny;
			height: $tiny;
		}
		.lds-dual-ring:after {
			border-width: $tiny-width;
			width: $tiny;
			height: $tiny;
			animation-duration: $tiny-duration;
		}
	}

	&.small {
		.lds-dual-ring {
			width: $small;
			height: $small;
		}
		.lds-dual-ring:after {
			width: $small;
			height: $small;
			animation-duration: $small-duration;
		}
	}

	&.large {
		.lds-dual-ring {
			width: $large;
			height: $large;
		}
		.lds-dual-ring:after {
			width: $large;
			height: $large;
			animation-duration: $large-duration;
		}
	}

	&.huge {
		.lds-dual-ring {
			width: $huge;
			height: $huge;
		}
		.lds-dual-ring:after {
			width: $huge;
			height: $huge;
			animation-duration: $huge-duration;
		}
	}
}
