.lds-dual-ring {
	display: inline-block;
	width: 46px;
	height: 46px;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 46px;
	height: 46px;
	margin: 1px;
	border-radius: 50%;
	border: 5px solid $color-darker;
	border-color: $color-darker transparent $color-darker transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.LoadingAnimation {
	$small: 24px;
	$small-duration: 0.8s;

	margin: 5px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	&.small {
		justify-content: center;
		align-items: center;

		.lds-dual-ring {
			width: $small;
			height: $small;
		}
		.lds-dual-ring:after {
			width: $small;
			height: $small;
			animation-duration: $small-duration;
		}
	}
}
