@import 'variables.scss';

.Awards {
    display: inline-block;
    margin: 0 0 0 5px;
    border-radius: 7px;
    padding: 2px 5px;
    background: $color-darker;
    color: $color-text;
    
    .award {
        img {
            padding: 0 0 0 2px;
            display: inline-block;
            height: 12px;
        }
        .count {
            font-size: 0.8em;
            display: inline-block;
        }
        &:not(:last-child) {
            padding: 0 5px 0 0;
        }
    }
}
