.Votes {
    display: inline;

    &.arrows {
        display: inline-grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2em 1fr;

        span {
            display: flex;
            justify-content: center;
            align-self: center;
            &.upvote {
                align-self: end;
            }
            &.downvote {
                align-self: start;
            }
        }
    }
}
