.Votes {
    display: inline;

    &.arrows {
        display: inline-grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2em 1fr;

        span {
            display: flex;
            justify-content: center;
            align-self: center;
        }
    }

    &.arrows 
    &.arrows span.upvote {
        align-self: end;
    }

    &.arrows span.downvote {
        align-self: start;
    }
}
