@import 'variables.scss';

.Post {
    display: grid;
    grid-template-columns: 30px 100px 1fr;
    grid-gap: 6px;
    margin: 5px 0 10px 0;
    padding: 4px 4px 10px 4px;
    border-radius: 10px;

    &.highlighted {
        background-color: $color-darkest;
    }
    &:hover {
        cursor: pointer;
        background-color: $background;
    }

    & > div:first-child {
        text-align: center;
    }

    .thumbnail {
        display: flex;
        align-self: center;

        img {
            display: block;
            border-radius: 10px;
            max-height: 100px;
            width: auto;
            max-width: 100px;
            background-color: $color-darker;

            &.default {
                padding: 5px;
            }
        }
    }

    .title,
    .score,
    .author,
    .date {
        margin: 0;
        padding: 0;
    }
    .author {
        padding-right: 0.5em;
    }
    .date {
        padding-left: 0.5em;
    }
    .title {
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 10px;
    }
    .commentCount {
        color: $color-medium;
    }
}
