$color-text: rgb(234, 235, 235);
$color-light: rgb(255, 255, 255);
$color-medium: rgb(130, 130, 130);
$color-dark: rgb(90, 90, 90);
$color-darker: rgb(50, 50, 50);
$color-darkest: rgb(35, 35, 35);

$background: rgb(20, 20, 20);
$background-darker: rgb(10, 10, 10);

$border-radius: 10px;
$border-radius-small: 7px;
