@import 'variables.scss';

.Flair {
    background-color: $color-darker;
    border-radius: $border-radius-small;
    color: $color-text;
    font-weight: bold;
    padding: 2px 5px;
    margin: 0 4px;
}
